apiVersion: apps/v1
kind: Deployment
metadata:
  name: users
  labels:
    app: users
spec:
  replicas: {{ .Values.replicasCount }}
  selector:
    matchLabels:
      app: users
  template:
    metadata:
      labels:
        app: users
    spec:
      containers:
        - name: users
          image: '{{ .Values.container.image }}:{{ .Values.container.tag }}'
          ports:
            - containerPort: {{ .Values.container.port }}
