apiVersion: v1
kind: Service
metadata:
  name: users-service
spec:
  selector:
    app: users
  ports:
    - protocol: TCP
      port: {{ .Values.port }}
      targetPort: {{ .Values.container.port }}
