apiVersion: rabbitmq.com/v1beta1
kind: RabbitmqCluster
metadata:
  name: rabbitmq
  namespace: default
spec:
  replicas: {{ .Values.replicaCount }}
  service:
    type: ClusterIP
  persistence:
    storage: {{ .Values.storage }}
