name: CI

permissions:
  contents: read

on:
  workflow_call:
    inputs:
      dockerhub_username:
        required: true
        type: string
      image:
        required: true
        type: string
    secrets:
      dockerhub_password:
        required: true
    
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Test and Build
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654
        with:
          java-version: '21'
          distribution: 'temurin'
          architecture: x64

      - name: Docker Metadata
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051
        with:
          images: ${{ inputs.dockerhub_username }}/${{ inputs.image }}
          tags: |
            type=ref, event=branch
            type=sha, format=long, prefix=sha-

      - name: Login to DockerHub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9
        with:
          username: ${{ inputs.dockerhub_username }}
          password: ${{ secrets.dockerhub_password }}

      - name: Build image and push to DockerHub
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
